.navbar{
    background-color: black;
    color: white;
    padding: 1%;
    margin-bottom: 0.5vw;
    display: grid;
    grid-template-columns: 93% 7%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.navigator{
    display:flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}
.cartArea{
    display: flex;
    gap: 8%;
}
.cartBtn{
    background: transparent;
    color: white;
    border: 2px solid rgb(0, 167, 227);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    padding: 5%;
    width: 4vw;
    border-radius: 10%;
}
.cartArea span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color:  rgb(0, 167, 227);
    font-weight: bold;
}


.companyName{
    background-color: rgb(132, 129, 129);
    color: white;
    height: 20vh;
    margin-top: 0;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 5vw;
    display: flex;
    justify-content: center;
}
