.musicbar{
    height: 12vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
}
.listdiv{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-items: center;
    grid-gap: 10%;
    background-color: aqua;
}